

@import "../modules/all";


html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    background-color: $bg-color;
}

h1, h3, p  {
    color: $basic;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
    &:hover {
        color: inherit;
        text-decoration: none;
    }
    
    &:focus {
        text-decoration: none;
        color: inherit;
        outline: 0;
        outline-offset: 0;
    }
}

    /*HEADER*/

header {
    position: fixed;
    z-index: 999999;
    width: 100%;
    background-color: #0000009c;
    
    .logo {
       float: left;
    }

    nav.menu {
        margin: 45px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        ul {
            li {
                display: inline-block;
                padding: 0 10px;
                font-size: 15px;
                list-style-type: none;
                
                &:hover{
                    animation: swing 1s ease;
                    -webkit-animation: swing 1s ease; 
                    animation-iteration-count: 0.5;
                    -webkit-animation-iteration-count: 0.5; 
                }
                
                a {
                    color: $orange;
                    transition: all 0.5s; 
                    font-weight: 600;
                    
                    &:hover {
                        text-decoration: none; 
                        transition: all 0.5s; 
                        color: darken($orange, 30%);
                    }
                }  
           }
        }
    }
}

    /*SECTION FIRST*/

section#first-view {
    width: 100%;
    height: 850px;
    text-align: center;
    background: url('../images/yokohama.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: $open-section-padding;
    /*opacity: 0.6;*/
    transition: all 0.5s;
    @include box-shadow($border-gold);
    
    .header-content {
        margin: $big-margin-top;
        
        h1 {
            font-size: $big-title;
        }

        p {
            margin: $secondary-margin-top;
            font-size: $standard-p;
            color: lighten($basic, 10%);
        }
        
        a {
            
            &:hover {
                color: $basic;
            }
            
            button {
                margin: $primary-margin-top;
                width: 200px;    
                max-width: 80%;
                padding: 16px 0;
                font-size: 14px;
                font-weight: 600;
                background-color: $orange;
                border: none;
                border-radius: 5px;
                transition: all 0.5s;
            
                &:hover {
                    background-color: darken( $orange, 15% );
                    transition: all 0.5s; 
                }
            } 
        }
    }
}


    /*SECTION SECOND*/

section#little-history {
    padding: $open-section-padding;
    text-align: center;
    @include box-shadow($border-gold);
    
    h1 {
        font-size: $small-title;
    }

    p {
        margin: $primary-margin-top-bottom;
        font-size: $standard-p;
        color: $basic;
    }
        
    .history-image {
        display: inline-grid;
        margin: 10px; /*Build*/

        img[data-history] {
            display: inline-block;
            border-radius: 15px;
        }
        
        .history-image-content {
            max-width: 400px;
            
            h3 {
                font-size: 20px;
            }

            ul {
                li {
                    color: $basic;
                }
            }
        }
    } 
}

section#movie {
    padding-top: 4px;
    @include box-shadow($border-gold);
}

section#plan {
    
    padding: $open-section-padding;
    text-align: center;
    @include box-shadow($border-gold);
    
    h1 {
        font-size: $small-title;
    }
    
    p {
        margin: $secondary-margin-top-bottom;
        font-size: $standard-p;
        color: $basic;
    }
    
    
    .price_list {
        margin: 50px 0 54px 0px;
    }
    
    .options {
        display: flex;
        justify-content: space-around;

        .option {
            width: 329px;
            height: 500px;
            /*background-color: #f9f9f9;*/
            background-color: lighten( $bg-color-option, 15% );
            border: 1px solid #c2c2c2;
            position: relative;
            border-radius: 25px;

            .circle {
               width: 50px;
               height: 50px;
               /*border:1px solid #c2c2c2;*/
               border-radius: 50%;
               position: absolute;
               left: 0;
               top: -30px;
               right: 0;
               margin: auto;
               /*background-color: #fff;*/
               background-color: #272727;
               
                .dot {
                    width: 25px;
                    height: 25px;
                    background-color: $orange;
                    border-radius: 50%;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }
            }

            .option-h1 {
                font-size: 24px;
                text-align: center;
                color: $orange;
                text-transform: uppercase;
                padding-top: 5px;
                letter-spacing: -1px;
            }

            .price {
                width: 120px;
                height: 120px;
                border: 1px solid #c2c2c2;
                border-radius: 50%;
                background-color: #fff;
                margin: 0 auto;
                position: relative;
                
                .amount {
                    font-size: 45px;
                    font-weight: 600;
                    color: #c4c4c4;
                    margin: 18px 0 0px 15px;
                    
                    sub {
                        font-size: 52px;
                    }

                    sup {
                        font-size: 15px;
                        font-weight: 600;
                    }
                }

                .month {
                    position: absolute;
                    right: 26px;
                    bottom: 20px;
                    margin: 0 auto;
                    font-size: 14px !important;
                    font-weight: 600;
                    color: #c4c4c4;
                    text-transform: uppercase;
                }
            }

            .plan-list {
                width: 100%;
                margin: 30px 0 0px 0;
                padding: 0;
                font-size: 22px;
                text-align: center;
                color: #acacac;
                background-color: #676767;
                list-style-type: none;
                line-height: 50px;
                
                li {
                    
                    &:nth-of-type(2n + 1) {
                        background-color: $second;
                    }
                }
            }

            .option-button {
                position: absolute;
                /* top: 0; */
                right: 0;
                left: 0;
                bottom: 20px;
                width: 120px;
                height: 40px;
                margin: auto;
                /*font-family: 'ralewayregular', Sans Serif;*/
                font-size: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
                background-color: $orange;
                border: none;
                border-radius: 10px;

            }

            &:hover {
                background-color: $orange;
                color: #000000;
                transition: background-color linear 0.5s;
                
                .option-h1 {
                    color: #FFFFFF;
                    transition: background-color linear 2s;
                }
                
                .circle {
                    background-color: $orange;
                    border: none;
                    transition: background-color linear 0.5s;
                }

                .dot {
                    background-color: #FFFFFF;
                }

                .amount {
                    color: $orange;
                }
                .month {
                    color: $orange;
                }

                .plan-list {
                    background-color: $second;
                    color: $basic;
                    
                    li {
                        
                        &:nth-of-type(2n + 1) {
                            background-color: #676767 !important;
                        }
                    }
                }

                .option-button {
                    background-color: #000000;
                    color: $orange;
                    transition: background-color linear 0.3s;

                    &:hover {
                        background-color: #ffffff !important;
                        transition: background-color linear 0.3s;
                    }
                }
            }
        }
    }
}

section#map {
    padding-top: 4px;
    @include box-shadow($border-gold);
    
    #map-canvas {
        height: 100%;
        width: 100%;
        height: 550px;
        position: relative;
        outline: none; 
    }
    
    #location {
        padding: $secondary-padding-top;
        color: $basic;
        text-align: center;
    }
}

footer {
    padding: 30px 50px;
    
    #footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
    
        .copy {
            margin: 27px 0;
            font-size: 18px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.6);
            float: left;
        }
    
        ul {
            float: right;

            li {
                display: inline-block;
            }
        }
    }

}

/*section#gallery {
    padding: $open-section-padding;
    text-align: center;
    @include box-shadow($border-gold);
    
    
    ol {
        display: inline-block;
        
        li {

            color: $basic;
        }
    }
}*/



  


.test {
    background: aliceblue;
    
    
 
    
    
}


/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}*/



