

@import "../modules/all";


html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  background-color: $bg-color;
}

    /*HEADER*/

header {
    position: fixed;
    z-index: 999999;
    width: 100%;
    background-color: #000000;
    
    .logo {
       float: left;
    }

    nav.menu {
        float: right;
        margin: 45px;

        ul {
            li {
                display: inline-block;
                
                a {
                    color: $orange;
                    
                    &:hover {
                        text-decoration: none; 
                    }
                }  
           }
        }
    }   
}

    /*SECTION FIRST*/

section.first-view {
    width: 100%;
    height: 640px;
    text-align: center;
    background: url('../images/yokohama.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 155px 0;
    opacity: 0.6;
    transition: all 0.5s;
    @include box-shadow($border-gold);
    
    
    h1 {
        padding: $primary-padding;
        font-size: $big-title;
        color: $basic;
    }
  
    p {
        padding: $secondary-padding;
        font-size: $standard-p;
        color: lighten($basic, 10%);
    }
    
    button {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    
}

    /*SECTION SECOND*/

section.little-history {
    text-align: center;
    
    h1 {
        padding: $primary-padding;
        font-size: $small-title;
        color: $basic;
    }
    
    p {
        padding: $secondary-padding;
        font-size: $standard-p;
        color: $basic;
    }
        
}
