

$basic: #ffffff;
$second: #000000;
$primary-color: #333;
$orange: #FF9800;
$bg-color: rgba(0, 0, 0, 0.85) !important;




/*experiments*/
$black-primary: #090c0f;
$black-secondary: #1f2a36;
$grey: #a1a1a1;
$dark-grey: #87888a;
$font-grey: #a0a5a9;
$yellow: #f1c40f;
$dark-background: #272d32;
$green-background: linear-gradient(#a1e8bf, #bef7d6);
$greenbutton: #a1e8bf;
$basic-pop-up: #b2b2b2;