


//Arrows

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

//Fade

#test {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}




/*    <div class="test">
        <h2>CSS Arrows</h2>
        <p>Right arrow: <i class="right"></i></p>
        <p>Left arrow: <i class="left"></i></p>
        <p>Up arrow: <i class="up"></i></p>
        <p>Down arrow: <i class="down"></i></p> 
    </div>*/

