


    //Arrows

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

    //Fade

#fading {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

    //Go Top

#toTopPage {
    margin: $primary-margin-top-bottom;
    text-align: center;
    
    .scroll-to-top {
        width: 64px;
        height: 64px;
        background: $orange;
        border-radius: 1px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        text-decoration: none;
        opacity: 0.5;
        visibility: visible;
        transition: 0.2s;
        z-index: 2;
            
        &:hover {
            background: $orange;
            visibility: visible;
            opacity: 1;
        }
        
        &:before {
            position: absolute;
            bottom: 0;
            content: "\f106";
            color: #fff;
            font-family: "FontAwesome";
            font-size: 5rem;
        }
    }
}

