@media (max-width: 320px) {
    p {
        font-size: 4px;
    }
}

/*@media (max-width: 320px) {
        header {
            height: 100vh !important;
            background-size: cover !important;
        }
    }
    
    @media (max-width: 480px) and (orientation: landscape) {
        header {
            height: auto !important;
            background-size: cover !important;
        }
    }
    
    @media (max-width: 568px) and (orientation: landscape) {
        header {
            height: auto !important;
            background-size: cover !important;
        }
    }
    
    @media (max-width: 667px) and (orientation: landscape) {
        header {
            height: auto !important;
            background-size: cover !important;
        }
    }
    
    @media (max-width: 750px) and (orientation: landscape) {
        header {
            height: auto !important;
            background-size: cover !important;
        }
    }*/
