

/*swing*/

@-webkit-keyframes swing {
    15%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    30%
    {
        -webkit-transform: translateX(-2px);
       transform: translateX(-2px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-2px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*pulse*/

@keyframes pound {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

@-webkit-keyframes pound {
	from { -webkit-transform: none; }
	50% { -webkit-transform: scale(1.4); }
	to { -webkit-transform: none; }
}


//Text-shadow
@mixin box-shadow($border-gold) {
    box-shadow: $border-gold;
    -webkit-box-shadow: $border-gold;
    -moz-box-shadow: $border-gold;
 }

//Radius
@mixin radius($size) {
    border-radius: $size;
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
}

// Absolute centering
@mixin absolutecenter($axis: "both"){
  position:absolute;
  @if $axis == "y"{
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

//Clearfix
@mixin cf() {
  *zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

//background-opacity
@mixin bg-opacity($color, $opacity) {
  background-color: $color;
  background: rgba($color, $opacity);
}

/*@mixin arrow*/

