


/*Sizes*/
$big-title: 50px;
$small-title: 36px;
$standard-p: 18px;

/*Margins*/
$big-margin-top: 100px 0 0 0;
$primary-margin-top: 50px 0 0 0;
$secondary-margin-top: 35px 0 0 0;

$open-section-margin: 100px 0 100px 0;

/*Padding*/
$big-padding-top: 100px 0 0 0;
$primary-padding-top: 50px 0 0 0;
$secondary-padding-top: 25px 0 0 0;

    /*Header*/
$header-padding: 120px 0 155px 0;

/*Borders*/
$border-gold: 0px 3px 3px $orange;